<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getEditionYear()}">Value</p>

<div th:if="${book.getPersonId()} == 0">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <label for="personId">Выберите человека</label>
<form th:method="POST" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <select id="personId" name="personId">
        <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"></option>
    </select>
     <input type="submit" value="Назначить книгу"/>
</form>
</div>
<div th:unless="${book.getPersonId()} == 0">
    <form th:method="GET" th:action="@{/books/{id}(id=${book.getBookId()})}">
        <p th:text="'Книга сейчас у: ' + ${person.getFullName()}">Value</p>
    </form>
    <form th:method="PATCH" th:action="@{/books/{id}/0(id=${book.getBookId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>
<br/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>